@font-face {
    font-family: 'alegreya_sanslight';
    src: url('../fonts/AlegreyaSans-Light-webfont.eot');
    src: url('../fonts/AlegreyaSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Light-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Light-webfont.svg#alegreya_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'alegreya_sanslight_italic';
    src: url('../fonts/AlegreyaSans-LightItalic-webfont.eot');
    src: url('../fonts/AlegreyaSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-LightItalic-webfont.svg#alegreya_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'alegreya_sansmedium';
    src: url('../fonts/AlegreyaSans-Medium-webfont.eot');
    src: url('../fonts/AlegreyaSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Medium-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Medium-webfont.svg#alegreya_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansregular';
    src: url('../fonts/AlegreyaSans-Regular-webfont.eot');
    src: url('../fonts/AlegreyaSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Regular-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Regular-webfont.svg#alegreya_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansthin';
    src: url('../fonts/AlegreyaSans-Thin-webfont.eot');
    src: url('../fonts/AlegreyaSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Thin-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Thin-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Thin-webfont.svg#alegreya_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../fonts/SinkinSans-300Light-webfont.eot');
    src: url('../fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-300Light-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light_italic';
    src: url('../fonts/SinkinSans-300LightItalic-webfont.eot');
    src: url('../fonts/SinkinSans-300LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-300LightItalic-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-300LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-300LightItalic-webfont.svg#sinkin_sans300_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans500_medium';
    src: url('../fonts/SinkinSans-500Medium-webfont.eot');
    src: url('../fonts/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-500Medium-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-500Medium-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot');
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

